window {
    background-color: rgba(0, 0, 0, 0.4);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border: none;
    background-color: rgba(30, 30, 46, 0.3);
    margin: 20px;
    border-radius: 20px;
    color: #cdd6f4;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

button:focus, button:active, button:hover {
    background-color: rgba(137, 180, 250, 0.4);
    border: 2px solid #89b4fa;
}

/* Default System Icon Paths */
#lock { background-image: url("/usr/share/wlogout/icons/lock.png"); }
#logout { background-image: url("/usr/share/wlogout/icons/logout.png"); }
#suspend { background-image: url("/usr/share/wlogout/icons/suspend.png"); }
#hibernate { background-image: url("/usr/share/wlogout/icons/hibernate.png"); }
#shutdown { background-image: url("/usr/share/wlogout/icons/shutdown.png"); }
#reboot { background-image: url("/usr/share/wlogout/icons/reboot.png"); }
